<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Elon Musk Gallery</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Elon Musk's gallery</h1>
    <ul>
        <li>
            <img src="/images/elon1.jpg">
        </li>
        <li>
            <img src="/images/elon2.jpg">
        </li>
        <li>
            <img src="/images/elon3.jpg">
        </li>
        <li>
            <img src="/images/elon4.jpg">
        </li>
        <li>
            <img src="/images/elon5.jpg">
        </li>
    </ul>
  
    <section class="buttons">
        <a href="/home">Back to home</a>   
    </section>
  </body>
</html>